header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #1c1c1c;
  z-index: 2;
  padding: 0;
  img {
    width: 100px;
    height: 90px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 0 6rem;
  border: 2px;
}

.navbarList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.navbarItems {
  font-family: Inter;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  margin: 0;
  padding: 10px;
}

.mobileMenuIcon {
  display: none;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 910px) {
  header {
    padding: 0px 60px;
    flex-direction: column;
  }

  .container {
    padding: 0px 10px;
    justify-content: space-between;
  }

  .navbar {
    padding: 1.5rem 0rem;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
  .navbarItems {
    padding: 0;
    margin: 0;
    display: none;
  }
  .mobileMenuIcon {
    display: block;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 60px;
      img {
        width: 50px;
      }
    }
  }

  .mobileMenu {
    display: flex;
  }

  .mobileMenu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobileMenu .navbarItems {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
  }
}
@media screen and (max-width: 510px) {
  header {
    padding: 0 10px;
    .navbar {
      width: 0;
    }
    .navbarList {
      width: 100%;
      padding: 0;
      li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
